body {
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1,h3 {
  text-align: center;
  font-family: Georgia, serif;
}

fieldset {
  margin-bottom: 20px;
}
select:hover, input:hover {
  background-color: red;
}

legend {
  font-weight: bolder;
  margin-bottom: 10px;
}

input {
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  display: block;
  margin: -5px auto 15px auto;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}